<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.parus.pmo.parus8claims"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ClaimApplication"
        android:allowBackup="true"
        android:icon="@mipmap/pmo_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".objects.filter.FiltersActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_filters" >
        </activity>
        <activity
            android:name=".objects.filter.FilterOneActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_filter_editor" >
        </activity>
        <activity
            android:name=".objects.claim.ClaimActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_claim" >
        </activity>
        <activity
            android:name=".objects.claim.actions.ClaimActionActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_claim_action" >
        </activity>
    </application>

</manifest>
